[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
shovel = {ref = "v0.4.4", git = "https://git.arvan.me/iaas/shovel"}
flake8 = "*"
openstacksdk = "*"

[dev-packages]

[requires]
python_version = "3.8"
